*.jar
*.class
/target/
bin/
tmp/
*.tmp
*.bak
*.swp
*~
hs_err_pid*

.project
.metadata
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch

TODO
gribbit.properties
bower_components/
node_modules/
staticroot/

