
port=80
# ssl=1

smtp.server=smtp.gmail.com
smtp.port=587
email.address= # email address on SMTP server, e.g. myemailaccount@gmail.com
email.fullname= # email sender name, e.g. Customer Service
email.password= # email account password

oauth.google.client.id= #...
oauth.google.client.secret= #...

loglevel=INFO

#dbname=gribbit

prettyprint.html=true
prettyprint.json=true

# if set to false, will disallow getting the model backing an HTML page by appending "?_getmodel=1" to the URL
_getmodel.allow=true

# Interval with which to poll the classpath for changes to site resources (HTML templates, CSS, JS) so they can be hot-reloaded.
# If set to 0, no classpath polling.
classpath.poll.ms=5000

